@use '../abstracts/breakpoints' as *;
@use '../abstracts/colors' as *;

.alert {
    position: fixed;
    top: 0;
    width: 100%;
    max-height: 100px;
    padding: 10px 0px;
    text-align: center;
    background-color: lighten($background, 10%);
    &::after {
        content: "";
        position: absolute;
        height: 5px;
        bottom: 0;
        left: 0;
        background-color: red;
        animation: slideTimer 5s linear forwards;
    }
}

@keyframes slideTimer {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}
@media (min-width: map-get($breakpoints, 'md')) {
    .alert {
        left: 10%;
        width: 80%;
    }
}