@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;
* {
    margin: 0;
    font-family: $fonts;
    color: $text;
}

a {
    text-decoration: none;
}

body {
    background-color: $background;
    padding: 5px 0px;
}